/* Ajustes generales */
html,
body,
#root {
    height: 100%;
    margin: 0;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    height: 15vh;
    /* Header con 20% de la altura de la ventana */
    background-color: #007bff;
    /* Color de fondo primario */
    color: white;
}

footer {
    height: 8vh;
    /* Footer con 10% de la altura de la ventana */
    background-color: #343a40;
    /* Color de fondo oscuro */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    flex-grow: 1;
    height: 77vh;
    /* Contenido con 70% de la altura de la ventana */
    overflow-y: auto;
    /* Permite desplazamiento vertical si el contenido excede el área */
}